h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(76, 53, 128);
    border-radius: 10%;
    color: #ffffff;
}
h2{
    background-color: rgb(76, 53, 128);
    max-width: max-content;
    border-radius: 10%;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
.info{
    background-color: rgb(76, 53, 128);
    max-width: max-content;
    border-radius: 5%;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    background-color: rgb(76, 53, 128);
    max-width: max-content;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;

}
p{
    background-color: rgb(76, 53, 128);
    max-width: max-content;
    font-size: x-large;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}