body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

.login {
    margin: 20px auto;
    width: 300px;
    text-align: left;
}

label {
    display: block;
    margin: 5px 0;
}

input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
    color: #333;
}

h3 {
    color: #333;
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    font-weight: bold;
}

input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #223bad;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color: #223bad;
}

.tabelas {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.tabelaU, .tabelaP {
    width: 45%;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.tabelaU h3, .tabelaP h3 {
    margin-top: 0;
}

.insert {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.insertU, .insertP {
    width: 45%;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

a button {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a button:hover {
    background-color: #d32f2f;
}

button{
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #d32f2f;
}